<div fxLayout="column" fxLayoutGap="20px" class="container">
  <div class="loading-container" *ngIf="isLoading; else content">
    <div class="spinner-wrapper">
      <mat-spinner diameter="30"></mat-spinner>
    </div>
  </div>
  <ng-template #content>
    <mat-list class="list">
      <mat-list-item
        *ngFor="let item of items"
        class="mat-list"
        (click)="showDetails(item.eventId , item.Scd , item.Ccd , item.Sdn)"
      >
        <div matListItemTitle>{{ item.tournamentName }}</div>
        <div matListItemLine>{{ item.countryName }}</div>
        <div matListItemLine>{{ item.eventText }} {{ item.eventInfo }}</div>
        <p matListitemLine class="event-status-text">
          {{ item.eventStatusText }}
        </p>
        <div matListitemLine>
          <p style="display: flex; justify-content: space-between">
            <span class="team-name"
              ><i
                *ngIf="item.battingTeam !== 1; else baseballIcon"
                class="fa-solid fa-bowling-ball"
                style="margin-right: 10px"
              ></i>
              <ng-template #baseballIcon>
                <i
                  class="fa-solid fa-baseball-bat-ball"
                  style="margin-right: 10px"
                ></i> </ng-template
              >{{ item.Team1Name }}</span
            >
            <span class="other-details">
              {{
                item.team1Score && item.team1Wickets
                  ? item.team1Score + "/" + item.team1Wickets + " "
                  : ""
              }}
              {{
                item.team1Score2 && item.team1Wickets2
                  ? item.team1Score2 + "/" + item.team1Wickets2
                  : ""
              }}
            </span>
          </p>
        </div>
        <div matListitemLine>
          <p style="display: flex; justify-content: space-between">
            <span class="team-name"
              ><i
                *ngIf="item.battingTeam !== 2; else baseballIcon"
                class="fa-solid fa-bowling-ball"
                style="margin-right: 10px"
              ></i>
              <ng-template #baseballIcon>
                <i
                  class="fa-solid fa-baseball-bat-ball"
                  style="margin-right: 10px"
                ></i> </ng-template
              >{{ item.Team2Name }}</span
            >
            <span class="other-details">
              {{
                item.team2Score && item.team2Wickets
                  ? item.team2Score + "/" + item.team2Wickets + " "
                  : ""
              }}
              {{
                item.team2Score2 && item.team2Wickets2
                  ? item.team2Score2 + "/" + item.team2Wickets2
                  : ""
              }}
            </span>
          </p>
        </div>
        <p
          matListitemLine
          style="display: flex; flex-wrap: wrap; max-width: 100%"
        >
          {{ item.eventComment }}
        </p>
      </mat-list-item>
    </mat-list>
  </ng-template>
 
</div>
<router-outlet></router-outlet>
