@import "~@fortawesome/fontawesome-free/css/all.css";

.options{
  margin:0px ;
  display: flex;
  justify-content: space-between;

}
.tabs-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.tabs-row div {
  cursor: pointer;
}

.tabs-row div.active {
  color:#3f51b5 ;
  font-weight: bold;
}
.subHeader{
  margin: 0px;
  font-size: 12px;
}

.spinner-wrapper {
  text-align: center;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 100% of the viewport height */
}

.table {
  margin-top: 25px;
}
th {
  cursor: pointer;
}
.table th {
  background-color: #f2f2f2; /* Set a background color for header cells if desired */
}
td {
  cursor: pointer;
}
.matchDetails{
  display: flex;
  justify-content: space-between;
  margin: 0px;
  margin-top: 4px;
}
  .details{
    border-radius: 4px;
    /* border-width: 13px; */
    border-left-width: 13px;
    border-left-color: #3f51b5;
  }
  .matchName{
    margin: 0px;
    font-size: 12px;
  }

  .subText{
    margin: 0px;
    color: #3f51b5;
    font-size: 12px;
  }
  .team1 {
    margin: 0px;
    display: flex;
    justify-content: space-between;
  }
  .team2 {
    margin: 0px;
    display: flex;
    justify-content: space-between;
  }
  .teamName1{
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0px;
  }
  .teamName2{
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0px;
  }
  .team1Score{
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0px;
  }
  .team2Score{
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0px;
  }
  .comment{
    font-size: 12px;
    margin: 0px;
    margin-bottom: 4px;
  }