@import "~@fortawesome/fontawesome-free/css/all.css";

.mat-list {
  border: 1px solid #ccc;
  border-radius: 4px;
  border-left: 5px solid #3f51b5;
  margin-bottom: 10px;
  box-shadow: black;
  padding: 8px;
}
.list {
  margin: 10px;
  pointer-events: auto;
  box-shadow: black;
}

.event-status-text {
  color: #3f51b5;
  font-size: 12px;
}

/* .example-card {
  margin: 10px;
  overflow: hidden;
  border-left: 5px solid orange;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
} */

.team-name {
  float: left;
  color: #3f51b5;
  font-weight: bold;
}

.other-details {
  float: right;
  font-weight: bold;
}

.spinner-wrapper {
  text-align: center;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 100% of the viewport height */
}
