<div fxLayout="column" fxLayoutGap="20px" class="container">
    <p class="players">Players</p>
    <div class="loading-container" *ngIf="isLoading; else content">
        <div class="spinner-wrapper">
            <mat-spinner diameter="30"></mat-spinner>
        </div>
    </div>

    <ng-template #content>
        <table mat-table [dataSource]="combinePlayerData()" class="table">
            <ng-container matColumnDef="team1playernames">
                <th mat-header-cell *matHeaderCellDef>Team 1</th>
                <td mat-cell *matCellDef="let data">
                    {{ data.team1.Fn }} {{data.team1.Ln}}
                    <span *ngIf="data.team1.Pos === 124">(W)</span>
                    <span *ngIf="data.team1.Pos === 123">(C)</span>
                    <span *ngIf="data.team1.Pos === 125">(C) (W)</span>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="team2playernames">
                <th mat-header-cell *matHeaderCellDef>Team 2</th>
                <td mat-cell *matCellDef="let data">
                    {{ data.team2.Fn }} {{data.team2.Ln}}
                    <span *ngIf="data.team2.Pos === 124">(W)</span>
                    <span *ngIf="data.team2.Pos === 123">(C)</span>
                    <span *ngIf="data.team2.Pos === 125">(C) (W)</span>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['team1playernames', 'team2playernames']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['team1playernames', 'team2playernames'];"></tr>
        </table>
    </ng-template>
</div>