.spinner-wrapper {
    text-align: center;
  }
  
  .loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px; 
  }
  .table {
    margin-top: 25px;
    border: #3f51b5;
    border-radius: 10px;
    border-color: #3f51b5;
    border-width: 5px;
  }
.tabs-row {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  .playerdetails-row {
    display: flex;
    justify-content: space-between;
  }
  .tabs-row div {
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 5px;
    padding: 5px;
  }
  
  .tabs-row div.active {
    color:white ;
    background-color: #3f51b5;
  }
  .playerNameContainer{
    display: flex;
    justify-content: space-between;
    margin: 0px;
  }
  .playersName{
    color: #3f51b5;
  }
  .circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    /* background-color:red;  */
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
  }
  
  .w-icon {
    color: white; /* You can change the icon color */
    text-align: center;
  }
  /* .table-container {
    max-height: 100vh; 
    overflow-y: auto; 
  } */
  
  
  
  